.bodyContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: white;
    
}

* {
    margin: 0;
    padding: 0;
}

.animate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 30;
    background-color: black;
}
.retreatModal { 
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(142, 222, 23);
    opacity: .8;
    display: block;
    height: 40vh;
    width: 100vw;
    top: 30%;
    position: absolute;
    z-index: 1000;
} 

.retreatModal > p {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
}

.retreatModal > button {
    margin-left: 30%;
    margin-top: 3%;
    padding: 20px;
    border-radius: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    background-color: black;
    color : white

}

.winnerScreen {
        gap: 20px;
        background-color: black;
        opacity: .8;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1000;
}

.winnerScreen > p {
    color: white;
    box-shadow: 0px 0px 20px 10px rgb(142, 222, 23) ;
    font-size: 60px;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
}

.playAgain {
    margin-left: 22%;
    margin-top: 15%;
    padding: 20px;
    border-radius: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    background-color: rgb(142, 222, 23);
}

.google{
    margin-left: 22%;
    margin-top: 15%;
    padding: 20px;
    border-radius: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    background-color: rgb(142, 222, 23);
    color : black;
}
 .google > a {
    text-decoration: none;
    color : black;
}




.removeModal {
    display: none
}

.animate > p {
    color: black;
    font-size: 40px;
    font-family: 'Share Tech Mono', monospace;
}

.text1 {
    animation-name: fade-in;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.text2 {
    animation-name: fade-in;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.text3 {
    animation-name: fade-in;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.text4 {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.text5 {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 4s;
}

@keyframes fade-in {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

.animate>button {
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    padding: 10px 50px;
    font-size: 40px;
    animation-name: enter-the-matrix;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes enter-the-matrix {
    from {
        box-shadow: none;
        color: black;
    }

    to {
        box-shadow: 0px 0px 20px 10px white;
        color: white;
    }
}


.mainCharacterView {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nameBox {
    border: 1px solid black;
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px white;

}

.playerImage {
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("./images/space_hero.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
}

.playerStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 2%;
}

.enemyStage {
    display: grid;
    width: 35vw;
    height: 35vh;
}

.enemyImage {
    border: 1px solidblack;
    background-image: url("./images/enemy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
}

.fire {
    border: 1px solidblack;
    background-image: url("./images/fire.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px white;
    z-index: 20;
}

.enemyStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px white;
}
